body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #007BFF;
    margin-top: 20px;
}

h3 {
    color: #0056b3;
}

#search {
    width: 50%;
    margin: 20px auto;
}

#anuncios {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Agregar estilo específico para pantallas más pequeñas */
@media (max-width: 576px) {
    #search {
        width: 100%;
    }
}
